<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Accueil/Index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap" rel="stylesheet">
    <title>BDE EVENTS - Accueil</title>
</head>

<body>
    <div class="background">
        <img src="/css/Accueil/Images/aleksandr-popov-DPspiXW2zWg-unsplash.jpg" alt="">
        <header>
            <h1>BDE EVENTS</h1>
        </header>
        <nav>
            <ul>
                <li class="active">ACCUEIL</li>
                <li>GALERIE</li>
                <li>TARIF</li>
                <li>SHOP</li>
                <li>FAQ</li>
                <li>CONTACT</li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li onclick="window.location.href = '@Url.Action("Index", "Login")'">MON COMPTE</li>
                }
                else
                {
                    <li><a href="/Login/Index">CONNEXION</a></li>
                }
            </ul>
        </nav>
        <div class="logo"><img src="/Shared/logo.png" alt="Logo BDE EVENTS"></div>
        <img class="fleche" src="/css/Accueil/Images/arrow-down.svg" alt="Flèche vers le bas">
    </div>
    <main>
        <section class="qui">
            <div class="bde">
                <div class="img"><img src="image1.jpg" alt="Image 1"></div>
                <div class="txt">Texte 1</div>
            </div>
            <div class="prestataire">
                <div class="img"><img src="image2.jpg" alt="Image 2"></div>
                <div class="txt">Texte 2</div>
            </div>
            <div class="participant">
                <div class="img"><img src="image3.jpg" alt="Image 3"></div>
                <div class="txt">Texte 3</div>
            </div>
        </section>

        <section class="commentaire">
            <p>Ceci est un commentaire.</p>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>