@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_LayoutVisitor.cshtml";
}
<section class="phrase-banner">
    <h1 class="banner-quote">“ Live for today, plan for tomorrow, party tonight ”</h1>
    <h4 class="banner-author">- some dude</h4>
</section>
<section class="event-carrousel">
    <div>
        <p>ICI ON METS LES EVENEMENT A VENIR ICIIIIII</p>
    </div>
</section>
<section class="emoji-bar">
</section>
<section class="BDE-Events-synthese">
    <article>
        <div class="gif-container"><iframe src="https://giphy.com/embed/a5viI92PAF89q" width="480" height="331" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </article>
    <article>
        <div class="gif-container"><iframe src="https://giphy.com/embed/dXICCcws9oxxK" width="480" height="222" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </article>
    <article>
        <div class="gif-container"><iframe src="https://giphy.com/embed/Ny0wKKu09ppug" width="480" height="443" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </article>
</section>
<section class="avis">
    <h1>On est forts, très forts</h1>
</section>
<script>

    window.addEventListener('resize', adjustFontSize);

    function adjustFontSize() {
        const phraseBanner = document.querySelector('.phrase-banner');
        const bannerQuote = document.querySelector('.banner-quote');

        const widthRatio = phraseBanner.offsetWidth / bannerQuote.offsetWidth;
        const heightRatio = phraseBanner.offsetHeight / bannerQuote.offsetHeight;

        const ratio = Math.min(widthRatio, heightRatio);
        const maxFontSize = 80; // Define the maximum font size you want

        const fontSize = ratio * maxFontSize;
        bannerQuote.style.fontSize = fontSize + 'px';
    }

    adjustFontSize();
</script>