@{
    Layout = "~/Views/Shared/_LayoutParticipant.cshtml";
}

<link rel="stylesheet" href="~/css/Participant/AgendaEvenement.css">

@section Header {
    <ul>
        <li>Intérêt</li>
        <li class="pageActive">Date</li>
        <li>Participant</li>
        <li>Prix</li>
    </ul>
}

<a href="evenementChoisit.html" class="voirPlus">
    <div class="evenement">
        <div class="photo"><img src="~/image/8cdc9ab775544b56b2f1a9ba94dbe751JPG_637226663ae84.jpg" alt=""></div>
        <div class="info">
            <div class="prix">
                <p>9€</p>
            </div>
            <div class="date">
                <p>19/09</p>
            </div>
            <div class="participant">
                <p>49/100</p>
            </div>
        </div>
    </div>
</a><a href="" class="voirPlus">
    <div class="evenement">
        <div class="photo"><img src="" alt=""></div>
        <div class="info">
            <div class="prix">
                <p></p>
            </div>
            <div class="date">
                <p></p>
            </div>
            <div class="participant">
                <p></p>
            </div>
        </div>
    </div>
</a><a href="" class="voirPlus">
    <div class="evenement">
        <div class="photo"><img src="" alt=""></div>
        <div class="info">
            <div class="prix">
                <p></p>
            </div>
            <div class="date">
                <p></p>
            </div>
            <div class="participant">
                <p></p>
            </div>
        </div>
    </div>
</a><a href="" class="voirPlus">
    <div class="evenement">
        <div class="photo"><img src="" alt=""></div>
        <div class="info">
            <div class="prix">
                <p></p>
            </div>
            <div class="date">
                <p></p>
            </div>
            <div class="participant">
                <p></p>
            </div>
        </div>
    </div>
</a><a href="" class="voirPlus">
    <div class="evenement">
        <div class="photo"><img src="" alt=""></div>
        <div class="info">
            <div class="prix">
                <p></p>
            </div>
            <div class="date">
                <p></p>
            </div>
            <div class="participant">
                <p></p>
            </div>
        </div>
    </div>
</a><a href="" class="voirPlus">
    <div class="evenement">
        <div class="photo"><img src="" alt=""></div>
        <div class="info">
            <div class="prix">
                <p></p>
            </div>
            <div class="date">
                <p></p>
            </div>
            <div class="participant">
                <p></p>
            </div>
        </div>
    </div>
</a><a href="" class="voirPlus">
    <div class="evenement">
        <div class="photo"><img src="" alt=""></div>
        <div class="info">
            <div class="prix">
                <p></p>
            </div>
            <div class="date">
                <p></p>
            </div>
            <div class="participant">
                <p></p>
            </div>
        </div>
    </div>
</a><a href="" class="voirPlus">
    <div class="evenement">
        <div class="photo"><img src="" alt=""></div>
        <div class="info">
            <div class="prix">
                <p></p>
            </div>
            <div class="date">
                <p></p>
            </div>
            <div class="participant">
                <p></p>
            </div>
        </div>
    </div>
</a>