
@{
    Layout = "~/Views/Shared/_LayoutParticipant.cshtml";
}

<link rel="stylesheet" href="~/css/Participant/EvenementsInteressant.css">

@section Header {
    <ul>
        <p>Confirmation de réservation</p>
    </ul>
}

<p>Merci pour votre réservation à l'événement <strong>@ViewBag.EvenementTitre</strong>. Vous êtes maintenant inscrit à l'événement.</p>