
@{
    Layout = "~/Views/Shared/_LayoutParticipant.cshtml";
}

<link rel="stylesheet" href="~/css/Participant/EvenementsInteressant.css">

@section Header {
    <ul>
        <p>Confirmation de réservation</p>
    </ul>
}


<div class="message">
    <p>
        Merci pour votre réservation à l'événement <strong>@ViewBag.EvenementTitre</strong>.
        <br /> Vous êtes maintenant inscrit à l'événement.
    </p>
</div>