@model P2_BDE_Events.ViewModels.ReserverUnEvenementViewModel

@{
    Layout = "~/Views/Shared/_LayoutParticipant.cshtml";
}


<link rel="stylesheet" href="~/css/Participant/EvenementsInteressant.css">

@section Header {

    <p>Votre évènement réservé</p>
}

<p>Événement : @Model.Evenement.Titre</p>
<p>Date : @Model.Evenement.DateEvenement</p>
<p>Description : @Model.Evenement.Description</p>
<p>Nombre de participants inscrits : @Model.NbParticipant</p>

