@{
    Layout = "~/Views/Shared/_LayoutParticipant.cshtml";
}

<link rel="stylesheet" href="~/css/Participant/EvenementsTermines.css">

@section Header {
    <ul>
        <li class="pageActive" onclick="window.location.href = '@Url.Action("EvenementsTermines", "MesEvenements", new { area = "Participant" })'">Évènements passés</li>
        <li onclick="window.location.href = '@Url.Action("MesEvenementsPart", "MesEvenements", new { area = "Participant" })'">Évènements à venir</li>
        @*<li onclick="window.location.href = '@Url.Action("EvenementsInteressant", "MesEvenements", new { area = "Participant" })'">Evènements intéréssants</li>*@
    </ul>
}

<div class="noEvent">
    <p>Vous n'avez aucun évènement terminé</p>
    <button class="rejoindreEvenement" onclick="window.location.href = '@Url.Action("AgendaEvenement", "Agenda", new { area = "Participant" })'">Rejoindre un évènement</button>
</div>