body {
    margin: 0;
    padding: 0;
    font-family: 'Happy Monkey', cursive;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

    .background img {
        height: 100%;
        width: 100%;
    }

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    header h1 {
        color: white;
        font-size: 40px;
    }

nav {
    position: absolute;
    top: 100px;
    width: 100%;
}

    nav ul, nav ul li a {
        list-style-type: none;
        display: flex;
        justify-content: center;
        gap: 45px;
        cursor: pointer;
        text-decoration: none;
    }

        nav li, nav ul li a {
            color: white;
            font-size: 21px;
            letter-spacing: 2px;
        }

        nav li:hover {
            color: red;
        }

        nav li.active {
            position: relative;
        }

        nav li:not(.active) {
            position: relative;
        }

        nav li.active::before,
        nav li::before {
            content: '';
            position: absolute;
            top: -15px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 2px;
            background-color: red;
        }

        nav li::before {
            width: 0;
            transition: width 0.3s;
        }


        nav li:not(.active):hover::before {
            width: 100%;
        }

        nav li:not(.active)::before {
            width: 0;
        }

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.fleche {
    position: absolute;
    top: 74%;
    left: 0;
    transform: translate(-50%, -50%);
    height: 150px;
    transition: transform 0.2s ease-in-out;
    animation: descend-ascend 4s linear infinite;
}

@keyframes descend-ascend {

    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(60px);
    }
}

main {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100vh;
}

.qui {
    height: 100%;
    background: linear-gradient(to bottom, #000000, #333333);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bde, .prestataire, .participant {
    height: 30%;
    display: flex;
}

.bde:hover, .prestataire:hover, .participant:hover {
    .img img {
        box-shadow: 0 0 20px red;
    }
}

.img {
    width: 400px;
    height: 100%;
    background-color: black;
    margin-left: 100px;
    margin-right: 100px;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white;
    box-shadow: 0 0 20px yellow;
}

.txt {
    margin-left: 90px;
    margin-right: 90px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.bde {
    flex-direction: row-reverse;
}

footer {
    position: absolute;
    top: 200vh;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ensembleMedia {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 6px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.contenue {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

.numerosUn:hover {
    background-color: #d62966;
    transition-duration: .3s;
}

.numerosDeux:hover {
    background-color: #00acee;
    transition-duration: .3s;
}

.numerosTrois:hover {
    background-color: #00427f;
    transition-duration: .3s;
}

.numerosQuatre:hover {
    background-color: #0a845b;
    transition-duration: .3s;
}

.contenue:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

    .socialSvg path {
        fill: white;
    }

.contenue:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
