<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>BDE Events</title>
    <!-- Font Awesome icons (free version)-->
    <!-- script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></!-->
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caprasimo&family=Inter:wght@300&family=Lobster&display=swap" rel="stylesheet">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/css/index.css" rel="stylesheet" />
    <link href="~/css/photoCarrousel.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#"><span class="btn-navbar">home</span></a></li>
                <li><a href="#"><span class="btn-navbar btn-agenda">agenda</span></a></li>
                <li><a href="#"><span class="btn-navbar">services</span></a></li>
                <li><a href="#"><span class="btn-navbar">news</span></a></li>
                <li><a href="#"><span class="btn-navbar">nous... </span></a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
    </footer>
</body>
</html>
