:root {
    --primary-base-color: #0D2158;
    --secondary-base-color: #7E2553;
    --primary-contrast-color: #FFF024;
    --secondary-contrast-color: #FF004D;
    --primary-body-font: 'Inter', sans-serif;
    --fancy-curvy : 'Lobster', cursive;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-body-font);
    text-decoration: none;
    background-color: var(--primary-base-color);
}

header, nav, a{
    color : var(--secondary-contrast-color);
}

header {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

li, a {
    display: inline-block;
    
}
.btn-navbar {
    display:block;
    width: 120px;
    text-align : center;
    padding : 10px 0;
}

.btn-agenda{
    color: var(--primary-contrast-color);
}


/*Grande phrase daccueil en home*/

.phrase-banner {
    color: var(--primary-contrast-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 10px;
}

.banner-quote {
    font-family: var(--fancy-curvy);
    font-size: 36px;
    flex-grow: 1;
    flex-shrink: 0;
    width: 1000px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-shadow: 10px 10px 10px var(--secondary-contrast-color);
}

.banner-author {
    font-size: 24px;
    margin: 0;
    text-align: center;
}

/* css pour le carrousel*/
.event-carrousel{
    height: 40vh;
    width:100%;
    background-color : grey;
    margin-top: 50px;
}

/* emoji barbreak*/
.emoji-bar{
    height: 30px;
    background-color: var(--primary-contrast-color);
}

/* enelever giphy interactions avec lutilsiateur*/
.gif-container {
    pointer-events: none;
}

/* synthese bde events*/
.BDE-Events-synthese {
    background-color: var(--secondary-base-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

