@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/Organisateur/ChoixCreation.css">

@section Header {
    <p>Choisissez votre mode de création d'évènement</p>
}

<div class="card">
    <h2>Pack Event</h2>
    <p class="description">Un minimum d'effort, avec des évènements clé en main  !</p>
    <p class="continuer"><a href="#">Continuer</a></p>
</div>

<div class="card2">
    <div class="card-details">
        <p class="text-title">Sur mesure</p>
        <p class="text-body">Créer votre évènement de A à Z !</p>
    </div>
    <button class="card-button">Continuer</button>
</div>