@model P2_BDE_Events.ViewModels.ConsulterEvenementViewModel
@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/Organisateur/ConsulterParticipant.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
@section Header {
    <ul>
        <li onclick="window.location.href = '@Url.Action("ConsulterEvenement", "MesEvenements", new { area = "OrganisateurControllers", evenementId = Model.Evenement.Id })'">Voir l'évènement</li>
        <li>Supprimer participant</li>
        <li>Ajouter participant</li>
    </ul>
    <form>
        <div class="recherche">
            <input type="text" placeholder="Rechercher un participant">
        </div>
    </form>
}

@if (Model.Participants != null)
{
    <ul class="ulParticipant">
        @foreach (var participant in Model.Participants)
        {
            <li class="participant">
                <span class="prenom">@participant.Compte.Prenom</span>
                <span class="nom">@participant.Compte.Nom</span>
                <span class="classement">1 / 100</span>
            </li>
        }
    </ul>
}

else
{
        <p>Aucun participant n'a encore rejoint votre évènement</p>
}