@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}
@using P2_BDE_Events.ViewModels
@model EvenementViewModel

@section Header {

}

<h1>ah?</h1>
<h1>@Model.Evenement.Titre</h1>


@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Evenement.Titre)
    @Html.ListBox( model => model.Evenement.Type , Model.TypeEvenements.ToList(),new { style= "width:200px"})
    <button type="submit">next</button>
}