@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}
@model P2_BDE_Events.ViewModels.EvenementViewModel
<!--model P2_BDE_Events.ViewModels.Etape1ViewModel-->

@section Header {

}

<h4>Quoi et combien?</h4>

<form asp-action="CreerEvenementSurMesure3" method="post">
    <label for="NombreParticipants">Nombre de participants souhaité (max)</label>
    <input type="number" class="form-control" id="Evenement.NbParticipants" name="Evenement.NbParticipants" value="">


    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="Alcool" name="Alcool" value="true" />
        <label class="form-check-label" for="Alcool">Alcool</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="Restauration" name="Restauration" value="true">
        <label class="form-check-label" for="Restauration">Restauration</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="Securite" name="Securite" value="true">
        <label class="form-check-label" for="Securite">Sécurité</label>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="Bar" name="Bar" value="true">
        <label class="form-check-label" for="Bar">Bar</label>
    </div>
    <button type="submit" class="btn btn-primary">Suivant</button>
</form>

