@{
    Layout = "~/Views/Shared/Organisateur/_LayoutOrganisateur.cshtml";
}
@using P2_BDE_Events.ViewModels
@model EvenementViewModel

<h1>ah?</h1>
<h1>@Model.Evenement.Titre</h1>


@using (Html.BeginForm())
{
    @Html.TextBoxFor(model => model.Evenement.Titre)
    <button type="submit">next</button>
}
