@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/Organisateur/EvenementsEnCours.css">

@section Header {
    <ul>
        <li onclick="window.location.href = '@Url.Action("EvenementsPrecedents", "MesEvenements", new { area = "Organisateur" })'">Evenements précédents</li>
        <li class="pageActive" onclick="window.location.href = '@Url.Action("EvenementsEnCours", "MesEvenements", new { area = "Organisateur" })'">Evenements en cours</li>
        <li onclick="window.location.href = '@Url.Action("EvenementsSuivants", "MesEvenements", new { area = "Organisateur" })'">Evenements suivants</li>
    </ul>
}

<p>Vous n'avez aucun évènement en cours</p>
<button class="creerEvenement" onclick="window.location.href = '@Url.Action("ChoixCreation", "CreerUnEvenement", new { area = "Organisateur" })'">Créer un évènement</button>