@model P2_BDE_Events.ViewModels.FormulairePartenariatViewModel


@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/Participant/EvenementsInteressant.css">




@section Header {
    
}


    <h2>Sollicitation pour un partenariat</h2>
    <form action="/EnvoyerSollicitation" method="post">
       @* <label for="nomOrganisateur">Votre Nom :</label>
        <input type="text" id="nomOrganisateur" name="nomOrganisateur" required><br>

        <label for="emailOrganisateur">Votre Email :</label>
        <input type="email" id="emailOrganisateur" name="emailOrganisateur" required><br>

        <label for="nomEvenement">Nom de l'Événement :</label>
        <input type="text" id="nomEvenement" name="nomEvenement" required><br>*@

        <label for="message">Message :</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br>

    <button class="rejoindreEvenement" type="submit">Envoyer la Sollicitation</button>

    </form>
