@{
    Layout = "~/Views/Shared/Organisateur/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/ProfilOrganisateur/mesEvenements.css">

<p>Vous n'avez aucun évènement en cours</p>
<form>
    <button class="creerEvenement">Créer un évènement</button>
</form>