@{
    Layout = "~/Views/Shared/_LayoutOrganisateur.cshtml";
}

<link rel="stylesheet" href="~/css/Organisateur/MesEvenementsOrgaTermines.css">

@section Header {
    <ul>
        <li class="pageActive" onclick="window.location.href = '@Url.Action("MesEvenementsOrgaTermines", "MesEvenements", new { area = "Organisateur" })'">Évènements passés</li>
        <li onclick="window.location.href = '@Url.Action("MesEvenementsOrga", "MesEvenements", new { area = "Organisateur" })'">Évènements à venir</li>
    </ul>
}
<div class="noEvent">
    <p>Vous n'avez aucun évènement terminé</p>
    <button class="creerEvenement"
        onclick="window.location.href = '@Url.Action("ChoixCreation", "CreerUnEvenement", new { area = "Organisateur" })'">Créer
        un évènement</button>
</div>