@{
    Layout = "~/Views/Shared/_LayoutPrestataire.cshtml";
}

@section Header {
    <ul>
        <li onclick="window.location.href = '@Url.Action("Creer", "CreerUnePrestation", new { area = "Prestataire" })'">Crée Une Prestation</li>
    </ul>

}

@model P2_BDE_Events.ViewModels.ListePrestationsViewModel

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
    }

    .container {
        width: 80%;
        margin: auto;
        overflow: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(300px, auto);
        gap: 20px;
    }

    .prestation {
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

        .prestation h3 {
            margin: 0;
            padding: 0;
            font-size: 1.5rem;
            text-align: center;
        }

        .prestation p {
            margin: 10px 0;
        }

        .prestation .btn {
            background: #444;
            color: #fff;
            padding: 6px 10px;
            text-decoration: none;
            border: none;
            border-radius: 3px;
            margin-top: auto;
        }

    .title {
        text-align: center;
        margin-bottom: 20px;
        font-size: 24px;
    }

    .separator {
        width: 100%;
        height: 2px;
        background-color: black;
        margin: 20px 0;
    }
</style>

<section>
    <h1 class="title">Mes prestations</h1>
    <div class="container">
        @foreach (var prestation in Model.Prestations)
        {
            <div class="prestation">
                <h3>@prestation.Titre</h3>
                <p>@prestation.Description</p>
                <p>Tarif : $@prestation.Tarif</p>
                <button>Modifier</button>
                <a href="#" class="btn">En savoir plus</a>
            </div>
        }
    </div>
    <div class="separator"></div>
</section>