@model P2_BDE_Events.Models.Comptes.Participant
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@section Header {
<p>Remplissez les champs de la création de votre profil d'étudiant</p>
}

@section Nav {
    <li>Obtenir de l'aide</li>
}

<link rel="stylesheet" href="/css/Login/CreerCompteSpecifique.css">

<div class="login-box">
    <form asp-action="CreerEvenementSurMesure1" method="post" id="myForm">
        <div class="user-box">
            <input type="text" name="Compte.Nom" required="">
            <label>Nom</label>
        </div>
        
        <div class="user-box">
            <input type="text" name="Compte.Prenom" required="">
            <label>Prénom</label>
        </div>
        
        <div class="user-box">
            <input type="text" name="Compte.NumeroTelephone" required="">
            <label>Votre numéro de téléphone</label>
        </div>
        
        <div class="user-box">
            <input type="text" name="Universite" required="">
            <label>Nom de votre établissement</label>
        </div>
        
        <div class="user-box">
            <input type="text" name="NomBDE" required="">
            <label>Nom de votre BDE</label>
        </div>
        
        <center>
            <a href="#" id="boutonForm">
                CREER
                <span></span>
            </a>
        </center>
    </form>
</div>

<script>
    document.getElementById("boutonForm").addEventListener("click", function (e) {
        e.preventDefault();

        document.getElementById("myForm").submit();
    });
</script>
