@using P2_BDE_Events.Models.Evenement
@model Evenement
@{
    Layout = "~/Views/Shared/ProfilOrganisateur/_LayoutProfilOrganisateur.cshtml";
}
@using (Html.BeginForm())
{
    <h2>2</h2>
    <h1>@Model.Titre</h1>
    <button type="submit">ok</button>
}


