@{
    Layout = "~/Views/Shared/ProfilOrganisateur/_LayoutProfilOrganisateur.cshtml";
}

<p>Vous n'avez aucun évènement en cours</p>
<a href="nouvelEvenement.html">
    <button class="creerEvenement">Créer un évènement</button>
</a>