@*@model P2_BDE_Events.Models
*@
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link rel="stylesheet" href="~/css/Organisateur/MesEvenementsOrga.css">

@section Header {
    
}
@*@section Nav {

}*@

<p>Vous êtes connecté en tant qu'administrateur</p>

